.Home-container {
    position: relative;
    width: 100vw;
    height: 100vh; 
    background: transparent linear-gradient(180deg, #000000 0%, #000E09 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    /* border-radius: 28px; */
    opacity: 1;
}

.logo_home{
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    background: transparent url('../images/moptro logo.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
}

.logo_home_num_bg{
    position: absolute;
    top: 80px;
    left:215px;
    width: 35px;
    height: 35px;
    background: #5E5E5EB5 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 4px 0px #00000040;
    mix-blend-mode: normal;
    border: 1px solid #FFFEFE00;
    opacity: 0.4;
    filter: blur(2px);
    z-index: 1;
    border-radius: 35px;
}

.logo_home_num{
    position: absolute;
    top: 88px;
    left: 228px;
    height: 23px;
    text-align: left;
    font: normal normal normal 18px/25px Source Sans Pro;
    letter-spacing: 0.02px;
    color: #36A546;
    opacity: 1;
    z-index: 2;
}

.lady_img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: transparent url('../images/Group 46.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
}

.dashboard_header{
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: auto;
    border-radius: 45px;
    width: 328px;
    height: 45px;
    text-align: center;
    align-items: center;
    background: #1A2C2C99 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    z-index: 2;
}

.dashboard_text{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top:12px;
    size: 18px;
    letter-spacing: 0.01px;
    color: #FFFFFFB3;
    opacity: 0.84;
    z-index: 3;
}

.dashboard {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: auto;
    width: 328px;
    height: 465px;
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 4px 0px #00000040;
    mix-blend-mode: normal;
    opacity: 0.4;
    filter: blur(2px);
    z-index: 1;
}





/* .footer_home{
    position: absolute;
    bottom:0px;
    left: 0px;
    height:63px;
    width: 50vw;
    background: #38383880 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    opacity: 1;
    filter: blur(7px);
}

.footer_empl{
    position: absolute;
    bottom:0px;
    right: 0px;
    height:63px;
    width: 50vw;
    background: #38383880 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    opacity: 1;
    filter: blur(7px);
} */

.dashboard_no_blur {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: auto;
    width: 328px;
    height: 465px;
    font-family: 'Mulish';
}

.day{
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0.01px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    font-family: Mulish;
    left: 20px;
    width: 200px;
}


.percent{
    position: absolute;
    color: #36A546;
    left: 275px;
    
}

.text_mon{
    position: absolute;
    top: 60px;
    size: 12px;
}

.progressbar_mon{
    position: absolute;
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    top: 80px;
    left: 20px;
    width: 6px;
    height: 11px;
    border-radius: 11px;
}

.text_tue{
    position: absolute;
    top: 110px;
    size: 12px;
}

.progressbar_tue{
    position: absolute;
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    top: 130px;
    left: 20px;
    width: 140px;
    height: 11px;
    border-radius: 11px;
}

.text_wed{
    position: absolute;
    top: 160px;
    size: 12px;
}

.progressbar_wed{
    position: absolute;
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    top: 180px;
    left: 20px;
    width: 183px;
    height: 11px;
    border-radius: 11px;
}

.text_thu{
    position: absolute;
    top: 210px;
    size: 12px;
}

.progressbar_thu{
    position: absolute;
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    top: 230px;
    left: 20px;
    width: 132px;
    height: 11px;
    border-radius: 11px;
}

.text_fri{
    position: absolute;
    top: 260px;
    size: 12px;
}

.progressbar_fri{
    position: absolute;
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    top: 280px;
    left: 20px;
    width: 132px;
    height: 11px;
    border-radius: 11px;
}

.text_sat{
    position: absolute;
    top: 310px;
    size: 12px;
}

.progressbar_sat{
    position: absolute;
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    top: 330px;
    left: 20px;
    width: 132px;
    height: 11px;
    border-radius: 11px;
}

.footer{
    position: absolute;
    bottom:0px;
    left: 0px;
    height:63px;
    width: 100vw;
    background: transparent linear-gradient(262deg, #0F2323 0%, #0F2323 40%) 0% 0% no-repeat padding-box;
    box-shadow: inset 8px 4px 4px #00000040;
    mix-blend-mode: normal;
    border: 1px solid #0F2323;
    opacity: 1;
}

.home{
    position: absolute;
    bottom:0px;
    left: 0px;
    height:63px;
    width: 50vw;
    background: #38383880 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    opacity: 1;
    filter: blur(7px);
}

.home_button{
    position: absolute;
    bottom:22.5px;
    right: 68.5vw;
    background: #38383880 0% 0% no-repeat padding-box;
    color: #36A546;
    opacity: 1;
}

.empl_button{
    position: absolute;
    bottom:22.5px;
    left: 68.5vw;
    background: #38383880 0% 0% no-repeat padding-box;
    color: #36A546;
    opacity: 1;
}