.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #000000 0%, #000E09 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    /* border-radius: 28px; */
    opacity: 1;
  }

.Logo{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 90px;
    background: transparent url('../images/Group 3.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1; 
}

.tagline{
    position: absolute;
    size: 16px;
    color:#36A546CC;
    border:#000000;
    border-width: 1px;
    text-align: center;
    left: 0;
    right: 0;
    top: 295px;
    font-family: 'Mulish';
    font-weight: normal;
}

.input-email{
    position: absolute;
    top: 336px;
    margin: auto;
    left: 0;
    right: 0;
    width: 238px;
    height: 42px;
    margin: auto;
    padding-left: 8px;
    background: #1F191966 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
    mix-blend-mode: normal;
    opacity: 1;
    border-radius: 42px;
    box-sizing: border-box;
}

.input-pswd{
    position: absolute;
    top: 403px;
    margin: auto;
    left: 0;
    right: 0;
    width: 238px;
    height: 42px;
    margin: auto;
    padding-left: 8px;

    background: #1F191966 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
    mix-blend-mode: normal;
    opacity: 1;
    border-radius: 42px;
    box-sizing: border-box;
}

.login-button{
    position: absolute;
    top: 501px;
    margin: auto;
    left: 0;
    right: 0;
    width: 238px;
    height: 42px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 42px;
    background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 2px solid #8CFF0026;
    opacity: 1;
}

.forgot-password{
    top: 560px;
    position: absolute;
    letter-spacing: 0.02px;
    color: #36A546;
    opacity: 1;
    text-align: center;
    height: 19px;
    size: 15px;
    font-family: 'Mulish';
    font-weight: 'Regular';

    text-align: center;
    left: 0;
    right: 0;
}

input {
    color:#36A546
}